/* index page */
.background-box{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 79, 124);
    background-image: url(../images/koruldi.jpg);
    opacity: 87%;
    background-size: cover;    
}
.title{
    font-family: 'Playball', cursive;
    color: rgb(255, 253, 251);
    font-size: 70px;
    background-color: rgba(255, 235, 205, 0.61);
    border-radius: 30%;
    padding: 10px 40px;
}
.title:hover{
    background-color: rgb(221, 200, 171);
    zoom: 102%;
    transition-timing-function: ease-out;
}